{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ 'PROJECT.LIST.TITLE' | trans }}</h1>
	<section>
	<article>
	{% for value in product %}
    		<div class="lorem">
    			<h4>{{ value.name }}</h4>
    			<p 
    				class="version 
                	{% if value.version <= 1 %}
                		version-dev
                	{% endif %}
    			">v{{ value.version }}</p>
    			<p>{{ value.description }}</p>
    			<a id="{{ value.id }}" type="button" href="{{ path('detail_product') }}?id={{ value.id }}" class="btn btn-success btn-block">details</a>
    		</div>
	{% endfor %}
	</article>
	</section>
	<div class="behindfooter"></div>
{% endblock %}