<header>
	<nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ path('homepage') }}">
      <img alt="php logo" src="http://www.freepngimg.com/download/php/7-2-php-logo-picture.png">
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    	<img alt="git logo" src="https://git-scm.com/images/logos/downloads/Git-Icon-White.png">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">
            {{ 'HEADER.HOME' | trans }} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Projects
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="{{ path('add_product') }}">{{ 'HEADER.Add Project' | trans }}</a>
                 <a class="dropdown-item" href="#">{{ 'HEADER.Remove Project' | trans }}</a>
                 <a class="dropdown-item" href="#">{{ 'HEADER.Edit Project' | trans }}</a>
                 <a class="dropdown-item" href="{{ path('list_product') }}">{{ 'HEADER.List Project' | trans }}</a>
               </div>
          	</li>
          	<li class="nav-item">
        		<a class="nav-link" href="{{ path('register_user') }}">{{ 'HEADER.Register' | trans }}</a>
      		</li>
          	<li class="nav-item">
        		<a class="nav-link" href="#">{{ 'HEADER.Login' | trans }}</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="#">{{ 'HEADER.Logout' | trans }}</a>
      		</li>
      		
      		<li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Language
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),{'_locale':'en'}) }}">{{ 'HEADER.LANG.EN' | trans }}</a>
                 <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),{'_locale':'fr'}) }}">{{ 'HEADER.LANG.FR' | trans }}</a>
               </div>
          	</li>
        </ul>
      </div>
	</nav>
</header>

{% set infoMessage = app.flashes('info') %}
{% if infoMessage is not empty %}
<div class="infoMessage">
	{% for message in infoMessage %}
		<p>{{ message }}</p><br>
		<a type="button" class="btn btn-success" href="{{ path('homepage') }}">ok</a>
	{% endfor %}
</div>
{% endif %}